APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

ABLY_KEY=jvbNfg.p8LWnw:l4WcXuacguRddK0R-4fA39AUkAx8x5W22fG7aupI89M
VITE_ABLY_PUBLIC_KEY=jvbNfg.p8LWnw
BROADCAST_DRIVER=ably

CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=quocthanhwh@gmail.com
MAIL_PASSWORD=udzuohphueecypzw
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="quocthanhwh@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JANUS_URL = https://hikari-hr.com
JANUS_ADMIN_SECRET = jdfshbgdfjg23642jdfshbjanusoverlord
JANUS_AUDIO_BRIDGE_ADMIN_KEY = dhksgf66supersecret
JANUS_SERVER_URL_RECORD = https://hikari-hr.com/storage/app/AvnRecord/
JANUS_SERVER_PATH_SAVE_RECORD = /var/www/html/japan-chat-app/storage/app/AvnRecord


PASSPORT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIJRAIBADANBgkqhkiG9w0BAQEFAASCCS4wggkqAgEAAoICAQC8pcP8R9dy9Vyz
MAEbUVFV830b+dd7CWewJsaWtHiIgBIVOQZNAZ11eMiFgVbOsp+GLQa0r0oZcejf
YMVaNLklxz9H+/hTHLxKTpPmB5sK/dB3mw3snus6K0YdSUrHioXg6DO85+jjinU7
mvRzaxrNmK9GHL/UDyg4LzQBE72eNGX+gLZEIeWPOXYGdiZTqBJYDyDU7nrDqI7M
N+so7nFJYDQfKIcQ1s0vAXg9ERVqiHH2k6lTbHzA6i5OqyDVOf8PvlF8cOroOcQr
3fvG6rjfmq9kt2deJH3S8pMSqBxh/N4ZH0gnmFAngss4Dzs03geW6cKONEHwqHsp
y0ujo6fJ18IQRn81WphkxYaEEFFyAP//XXkrs5ZhBisTLko8dc8u8Xufh5/WmyMu
O7eohQQBF8j+quhXCA4aDuOP+6pUvFdMtLskeAZ0BYY3R8t4k24bgRQmXLlwWo14
gN+e+Y0psnRsX66Q5LX4ijP0yRugZ5ph6O1pVvSwmc+H3wVOoz4MGfgYeoGpuGRO
/OEC953xlr0FpOSPe3BZmkYeWndzdHJXK+q7rVLBSbgaU9hQHnNahqnnwthbhfDI
zIO29SMZgLPu7O2VWq1jgdrnWrkRuW3PFLhnAQh0IyHUEvSOOnU3z2ibLUs7bJxZ
9r9MZ96d/vw4NwsT1hyrysyI8yMAKwIDAQABAoICAQCnqo0uRIvw2LKzcA8LwJKR
2f9wRfaGnC1UGqKWf4BBkdKAmlZHSxAvwFI4lmQZAhlWn9496S3qv5tCLjg5nHKS
aSyNRh3HgNq5EG3THR9n/X6zT1Ro4jYfVSbUELgt8ahb5QVW+Ke81OqtN2Pc0WzZ
HsNphVPZnj8Y8Js/+dOmMNwV/z///kCRs3h69bfK0q67JXcAyZTDIaUJTQntLz/w
/1hT+SlShheHl77OR8jJDsx7Y3Ize1DGBV1y/hYIbauMypKSD6o5DF6Wvo1wll4K
HumUko2E1toeCws8ob3YOW8M1QjEaFOVSmJkSOVOb6g/MTSCP1/8DUKqOs3XezU8
YaK5pJ0wU71QmLB4FItnzJplV6k3R0PTvQuvC/UzM6MlzSSo9oVOX8Xjgl/74Su1
frbhvKKywjQjVGCEFr5noNnZ/FX65s9eBwfM1A9VP9WvoOxyJuuegVIxkMEu7vcP
HLAKUHKJdpHixOjnem+C2KzqXDwxIdZ8VtHkHMYTt8cDEBXv+3Wbdadufd9lOUZQ
ldjtFPkq+8IEV8ntfTfJJ3adhIheUNX1h+mba0G1XpyKOg5gAk6A9CKbBwRetnhQ
b1+kGUh046JqGqayLlUpFyYb3/QCpsz9WVs0C+pnWJoeF/aJlqZXSAi4vjxE7iK7
EV29neuzQLNa0HdDrnw4wQKCAQEA3rBvsoSokSSQtWfeVRzdkNoG7ra+94Tb+KWR
foFHHGVpoCa6m/Q80aGnOMvhMjaLkbPda8zTCDq5RQF/hs4c+S3uIDE9sX04vGdi
Cqm8jobQrIsyZguuBS94PQvKf8v/h4Q3c8KGbupfZl0LcIigx4YynqM1HBBwok9g
3pE8adqkdvw+NkxvY+kxfcmf9+3wXX0z6ArxYSJld8r1+mGjj966M0Ah+sYcjKa6
/KWcSleA4V6gKiRchibYt6OVbvv9x1bKZGkMT3eCBqKXpCyZz5tur4nmovnJyzTJ
vaiVknvGzTdPVs7n7ozi/Yahwjtn5bwLzz2V7bnaRS1jQe0znwKCAQEA2N3AeJgd
iV26lKsStIt57WntGiK7j67P+ZacjOw6Qlr/S5b325wb21k4N3hJIQ2PxxL7rh+P
yqIqN8++bnM8uSJuMwFF5b+IVAeTQvw2hTB/b4mbhXkryrFsTHb5SZgbNVBxrQjd
GU9NPB5xXYlFasb+w6sm1733+JAsJBiVK2HzZtIVDD5ozBUiCz+YnWZWHeNe6hLS
tzOeTRpEydLE5B7cLNpnzNSNitP36eXyBnMUFniyg9wZbYrvTQdYJnOWDA9Rf7Ur
bgxd4+xGMqGaI+jdm8kfqkAnBzI2JXxoT6VhLWtErXRImZc2z6PkBIAvyXgVFAu4
SggOFfrBiADH9QKCAQEArZKEXXb9FLSVfnAJYfnv0Rm/0YzraG5MLpCOyTXmwYFi
RQwq46gJR7RibOitDMBrJRQ2//FUg9OR2PGD/wTknGxqcPkwhwl9kYxbZMhMSiNW
v0Z38AYmi7AmXh60pcvRzkUGG9qBgi54UYcwhXRZLWuyROgdW1SNFlYcwR4fIrri
+kM+EoCdShjXFJ51a4AwnA4cyT7OSdHPmQG/nHtCS79lDtFsKtUEJ7VFhetn2KI/
uGpTGMXiwEXDIdAFh84uTpOdiYo/qCkUViuhWrvQ33rdWUF5XYqo+RSaMpQWkWic
2hPEaXs4WD3EJ6wqpQQ8xVo/MjdkhzkXolfwR9ClLQKCAQAfO/j/pXEDmtNHnEgK
Ztg9wHbcv8nhzNy5Zt7PUSqm6fJBEdJK9/XvJq95FcL6lrhxhKNpFbShC7Am763O
vJwvUe0rPXCywV5CNAEasbasgiqohto2ZBhRjjI55RzMY7Lvf9GPiWpGvewyz3Om
dCHiWhzRU7I5emvfiexBmqTJZccntPRBGi//zL9lfVheuyGGFnxSHDnrFu0iz7i+
lLO041j0wNQYZTipmRPoxSyRjzuCbQnRAf9LjqoenwMsLpOa0w365b4GkJNpQ1ts
6WeI6n4YdOQxoiG84Jd52KwxZHFVmFCA5vGZ5XSIfWNW3puDWd83TuTRDM3yjnYX
P32NAoIBAQDWVCBq8YdiqSItDCnyOc06rSg672O+hkhwpgCp079n2UDWd3ABXLsc
WFEvaD0nJknbv8V45JWb4fcljfWmKFM+ArowiGyhzOhkKsG9HlvAB3eciMt0/YIV
I+/0u3Hj/QD+P/XxDr5t2FpgOUonpiHmauVXhGvmUl/ar2LrhkOYhDCuKw5C7pcy
0cVIg7bak4iQvWJjZ37sP0DA1XVQVjcpaKCSCWO/D6ORj30KRmAFhXdT+GoosRCo
MlkGl2xqTOicdnN9pbApHinPj2Yard0ToL39ZzgZowCeWX+t4zRWNqhVzk7QCmXX
pmm1Zk+seFWPO93nn8f5eDmKZkO86wy4
-----END PRIVATE KEY-----
"
PASSPORT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAvKXD/EfXcvVcszABG1FR
VfN9G/nXewlnsCbGlrR4iIASFTkGTQGddXjIhYFWzrKfhi0GtK9KGXHo32DFWjS5
Jcc/R/v4Uxy8Sk6T5gebCv3Qd5sN7J7rOitGHUlKx4qF4OgzvOfo44p1O5r0c2sa
zZivRhy/1A8oOC80ARO9njRl/oC2RCHljzl2BnYmU6gSWA8g1O56w6iOzDfrKO5x
SWA0HyiHENbNLwF4PREVaohx9pOpU2x8wOouTqsg1Tn/D75RfHDq6DnEK937xuq4
35qvZLdnXiR90vKTEqgcYfzeGR9IJ5hQJ4LLOA87NN4HlunCjjRB8Kh7KctLo6On
ydfCEEZ/NVqYZMWGhBBRcgD//115K7OWYQYrEy5KPHXPLvF7n4ef1psjLju3qIUE
ARfI/qroVwgOGg7jj/uqVLxXTLS7JHgGdAWGN0fLeJNuG4EUJly5cFqNeIDfnvmN
KbJ0bF+ukOS1+Ioz9MkboGeaYejtaVb0sJnPh98FTqM+DBn4GHqBqbhkTvzhAved
8Za9BaTkj3twWZpGHlp3c3RyVyvqu61SwUm4GlPYUB5zWoap58LYW4XwyMyDtvUj
GYCz7uztlVqtY4Ha51q5EbltzxS4ZwEIdCMh1BL0jjp1N89omy1LO2ycWfa/TGfe
nf78ODcLE9Ycq8rMiPMjACsCAwEAAQ==
-----END PUBLIC KEY-----"
